<!DOCTYPE html>
<html>
<head>
    <title>Molecular Thesaurus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <script src="https://3dmol.csb.pitt.edu/build/3Dmol-min.js"></script>
</head>
<body background="{{ url_for('static', filename='back2.png') }}">
    <button type="button" class="button-logo" onclick="window.location.href='/'">
        Molecular 
        <img src="{{ url_for('static', filename='icon.png') }}" alt="Molecular Thesaurus Icon" class="icon">
        Thesaurus
    </button>
    <h4>IUPAC Molecule: {{ name }}</h4>
    <h5><strong>SMILES Code:</strong> {{ smiles }}</h5>
    <div class="flexbox">
        <div class = "model-box">
            <div id="viewer"></div>
            {% if caption %}
            <span class="caption">3DMol.js</span>
            {% endif %}
        </div>
        <div class="image-and-info-box">
            <div class="info-box">
                <p><strong>Molecular Formula:</strong> {{ formula }}</p>
                <p><strong>Molecular Weight:</strong> {{ weight }}</p>
                <p><strong>LogP (Hydrophobicity):</strong> {{ logP }}</p>
                {% if tpsa %}
                <p><strong>Topological Polar Surface Area:</strong> {{ tpsa }} Å²</p>
                {% else %}
                <p><strong>Topological Polar Surface Area:</strong> None</p>
                {% endif %}
                <p><strong>Mechanism of Action:</strong> {{ mech }}</p>
                <p><strong>PubChem CID:</strong> {{ cid }}</p>
                <p><strong>ChEMBL ID:</strong> {{ chembl_id }}</p>
                <button type="button" class="button-return" onclick="window.location.href='/'">Search for another molecule</button>
            </div>
            <div class="image-box">
                <img src="{{ url_for('static', filename=image) }}" alt="No molecule" class="molecule-image">
                {% if caption %}
                <span class="caption">RDKit</span>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="https://3dmol.csb.pitt.edu/build/3Dmol-min.js"></script>
    <script>
        let viewer = $3Dmol.createViewer("viewer");
        let molData = `{{ mol3D | safe }}`;
        viewer.addModel(molData, "mol");
        viewer.setStyle({}, {stick: {radius: 0.2}, sphere: {scale: 0.3}});
        viewer.zoomTo();
        viewer.render();
    </script>
    <form action="/molecules" method="get">
        <input type="hidden" name="molecule_id" value="{{ smiles }}">
        <label for="property" style="font-size: 25px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bolder;">Find similar molecules based on:</label>
        <select class="select" name="property" id="property">
            <option class="placeholder"></option>
            <option value="formula">Molecular Formula</option>
            <option value="mw">Molecular Weight</option>
            <!-- option value="structure">Molecular Structure</option -->
            <option value="logp">LogP/Hydrophobicity</option>
            <option value="tpsa">Topological Polar Surface Area</option>
            {% if mech != "Not Pharmacological" %}
            <option value="mechanism">Mechanism of Action</option>
            {% endif %}
        </select>
        <button class="submit" type="submit">Go</button>
    </form>
    <h4>Molecular matches from ChEMBL:</h4>
    <div class="flexbox2" id="sim-mols">
        {% for i in range(4) %}
        <div class="sim-mol">
            <a href="/molecules?molecule_id={{ new_smiles[i] | urlencode }}">
                <img src="{{ url_for('static', filename=new_imgs[i]) }}" class="mol-image">
            </a>
            <h6><strong>{{ new_names[i] }}</strong></h6>
            <p><strong>SMILES Code:</strong> {{ new_smiles[i] }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>
